body {
    width: 100%;
    font-size: 12px;
    margin: 0px;
}
a {
    text-decoration: none;
    display: inline-block;
    word-break: keep-all;
    color: #555;
    font-size: 12px;
    line-height: inherit;
}
a:hover {
    color: red;
}
.header ul{
    margin:0px;
}
.header li{
}
.header li a {
}
.left_boder{
  border-left: solid 1px #DDDDDD;
  padding: 0px 10px;
  line-height: 12px;
}

ul >li{
    text-decoration: none;
    display: inline-block;
}
.full {
    width: 100%;
    align-content: center;
    position: relative;
    margin: 0px;
    clear: both;
}
body .w{
    width: 1210px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
#header {
    background-color: #F1F1F1;
}
.header {
    height: 30px;
    line-height: 30px;
    margin: 0px auto;
}
#header > a:hover{
    background-color: #000;
    color: red;
}
.header > .left {
    float: left;
    clear: both;
}
.header >.left:hover {
    background-color: #fff;
    border-left:solid 1px #DDD;
    border-right:solid 1px #DDD;
}
.header > .right {
    float: right;
    font-size: 12px;
    padding-top: 0px;
    display: inline-block;
}
.logo {
  width: 300px;
  height: 100px;
  background-image: url('../images/jingdonglogo.png') ;
  background-repeat: no-repeat;
}
.logo a {
  width: 300px;
  height: 100px;  

}
.title {
  position: relative;
}
.title > *{
  float: left;
}
.headmenu {
  border-bottom: solid 2px #B1191A;
}
.bodymenu {
  margin: 0px auto;
}
.bodymenu> div{
  float: left;

}
.bodymenu #menulist>ul>li{
  display: block;
}
#menulist{
  width: 210px;
  height: 466px;
  margin-top: 0px;
  clear: left;
  background-color: #C81623;
}
#bodymenu_imageshow {
  width: 730px;
  height: 454px;
  margin: 12px 0px 0px 12px;
}
#bodymenu_right {
  width: 250px;
  margin-top: 12px;
  float: right;
  clear: right;
}
.today {
  margin: 12px 0 0 20px;
  padding-top: 12px;
}
.today >div {
  float: left;
}
.today .left {
  width: 210px;
  background-color: #F1F1F1;
  height: 151px;
}
.today .right{
  width: 1000px;
  background-color: pink;
  height: 164px;
}
.mc{
  border: solid 1px #F1F1F1;
}

.detail {
  height: 222px;
  margin: 0px;
  padding: 20px 0px 0px 0px;
  clear: both;
}
.detail li {
  display: inline-block;
  float: left;
  width: 201px;
  margin:0px;
  overflow: hidden;
}
.detail_img {
  padding: 0 35px;
}
.detail_info {
  width: 130px;
  padding: 0 35px;
  border-left: solid 1px #F1F1F1;
}
.detail li:first-child .detail_info {
  border-left: none;
}
.detail ul li:first .detail_inro  {
  border-left: none;
  display: inline-block;
}
.detail_info a {
  display: block;
  width: inherit;
  font-size: 14px;
  line-height: 14px;
  word-break: break-all;
  height: 30px;
  overflow: hidden;
}
.detail_info p {
  font-size: 16px;
  font-weight: 800;
  color: #C81623;
  margin-top: 0px;
}
.quelitylife .mc{
  width: 1208px;
  height: 405px;
  border-left: solid 1px #F1F1F1;
}
.quelitylife .mc >div {
  float: left;
}
.quelitylife .mc a {
position: relative;
}
.quelity_1,.quelity_3{
  width: 404px;
  height: 247px;
  margin-top: 0;
  background-color:#F7F7F7;
  position: relative;
}
.quelity_1 a:first-child,.quelity_3 a:first-child{
  width: 403px;
  height: 247px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-bottom: solid 1px rgb(237,237,237);
  border-right:  solid 1px rgb(237,237,237);
}
.quelity_1 a:nth-child(2),.quelity_1 a:nth-child(3),.quelity_3 a:nth-child(2),.quelity_3 a:nth-child(3){
  width: 201px;
  height: 158px;
  display: inline-block;
  float: left;
  border-right: solid 1px rgb(237,237,237);
  margin-top:-4px;

}
.quelity_1 a>p,.quelity_3 a>p{  
  width: 363px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;  
  line-height: 41px;
  border-bottom: dashed 1px rgb(224,224,224);
  margin: 0 auto;
  z-index: 1;
}
.quelity_2 {
  width: 228px;
  height: 247px;
  position: relative;
  border-right: solid 1px rgb(237,237,237);
}
.quelity_2 >a{
  float: left;
}
.quelity_2 a:first-child {
  width: 228px;
  height:247px;
  border-bottom: solid 1px rgb(237,237,237);
}
.quelity_2 a:nth-child(2){
  width: 228px;
  height: 157px;
  border-right: solid 1px rgb(237,237,237);

}
.quelity_2 a>p{
  width: 188px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;  
  line-height: 41px;
  border-bottom: dashed 1px rgb(224,224,224);
  margin: 0 auto;
  z-index: 1;
}
.sub_tit {
  position: absolute;
  left: 40px;
  z-index: 1;
  margin: auto 10px;
}
.quelity_1 img ,.quelity_3 img {
  position: absolute;
  bottom: 0px;
  overflow: hidden;
  z-index:0;
}
.noover {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  z-index: 0;
  border-bottom: solid 1px rgb(237,237,237);
}
.quelity_4 {
  position: relative;
  width: 171px;
}
.quelity_4 .left {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  float: left;
  width: 82px;
  height: 381px;
  text-align: right;
  margin-top: 10px;
  border-right: dashed 1px rgb(237,237,237);
}
.quelity_4 .right {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  width: 82px;
  height: 381px;
  margin-top: 10px;
  text-align: left;
}
.quelity_4 ul {
  width: 74px;
  display: block;
  padding: 0px;
  margin-top: -10px;
  margin-bottom: 0px;
}
.quelity_4 .left .leftlist {
  float: right;

}
.quelity_4 .rightlist {
  float: left;

}
.quelity_4 ul>li {
  display: block;
  width: 74px;
  height: 57px;
  margin-right: 0px;
  overflow: hidden;
}
.quelity_4 .underline_dash{
  border-bottom:dashed 1px rgb(224,224,224); 
}
.pic_3 {
  width: 1200px;
  height: 110px;
  margin: 20px auto;
}
.pic_3 a{
  font-size: 0px;
  float: left;
  clear: right;
}
.pic_3 img{
  width: 400px;
}

.mt {
  width: 1210px;
  margin: 0 auto;
}






.left_widly{
  width: 330px;
  position: relative;
}
.right_widly{
  width: 880px;
}
.left_narrow{
  width: 210px;
  position: relative;
}
.right_narrow {
  width: 1100px;
}
.detail_4 {
  width: 220px;
  height: 237px;
  float: left;
  clear: right;
  overflow: hidden;
  border-right: solid 1px #F1F1F1;
  border-bottom: solid 1px #F1F1F1;
}
.detail_5{
  width: 200px;
  height: 237px;
  float: left;
  clear: right;
  overflow: hidden;
  border-right: solid 1px #F1F1F1;
  border-bottom: solid 1px #F1F1F1;
}